/* NavBar */
.topnav {
	overflow: hidden;
	background-color: rgb(90, 90, 90);
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
.topnav a.active {
	background-color: #0446aa;
	color: white;
}

.topnav img {
	width: 15px;
	height: 15px;
	padding-right: 10px;
}