body {
    background: black url("/The-Number-Game/images/background.jpg") no-repeat top center fixed;
    background-size: 100%;
}

.networkClass {
    background-color: #ffffff;
    height: 500pt;
    border: 4px solid;
    border-radius: 25px;
}

.aliceRemoved {
    background-color: #ff7070;
    border: 1px solid;
    border-radius: 10px;
    padding: 4pt;
    margin-bottom: 4pt;
}

.bobRemoved {
    background-color: #7070ff;;
    border: 1px solid;
    border-radius: 10px;
    padding: 4pt;
    margin-bottom: 4pt;
}


.nobr { 
    white-space: nowrap;
    display: inline;
}

.column50 {
    float: left;
    width: 50%;
}

.column48 {
    float: left;
    width: 48%;
}

.columnText {
    float: left;
    width: 70%;
}

.textBox {
    background-color: #ffffff;
    padding: 20pt;
    border: 3px solid;
    border-radius: 10px;
    border-color: #00209f;
}

.columnPadding {
    float: left;
    width: 15%;
}  

.column4 {
    float: left;
    width: 4%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

